<!DOCTYPE html>
<html>
<head>
    <title>Financial Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div id="container">
    <div id="sideMenu">
      <div id="sideMenuFixed"></div>
      <div id="sidecontent">
      <h1>Escolha seu banco abaixo</h1>
  
      <ul class="menu">
        <li>Principal</li>
        <li><a href="/" class="links">Home</a></li>
        <li><a href="/santander" class="links">Santander</a></li>
        <li><a href="/bb" class="links">Banco Do Brasil</a></li>
        <li><a href="/bradesco" class="links">Bradesco</a></li>
        <li><a href="/cef" class="links">Caixa Econômica Federal</a></li>
        <li><a href="/sicred" class="links">Sicredi</a></li>
        <li><a href="/cora" class="links">Banco Cora</a></li>
        <li><a href="/logout" class="links-home">Sair</a></li>
      </ul>
      <!--<div class="addCategory"><span class="plus">+</span> Add Category</div>-->
      </div>
    </div>
    <div id="content">
      <div id="titleBar">
        <h2>Escolha o banco abaixo</h2>
      </div>
        <a href="/" class="links-home">Home</a></li>
        <a href="/santander" class="links-home">Santander</a></li>
        <a href="/bb" class="links-home">Banco Do Brasil</a></li>
        <a href="/bradesco" class="links-home">Bradesco</a></li>
        <a href="/cef" class="links-home">Caixa Econômica Federal</a></li>
        <a href="/sicred" class="links-home">Sicredi</a></li>
        <a href="/cora" class="links-home">Banco Cora</a></li>
        <a href="/logout" class="links-home">Sair</a></li>
      <br></br>
      <br></br>
      </div>
    </div>
  </div>
  </div>
  <footer class="footer_pages">
    Contabilitools 2023 - Todos direitos reservados. <a href="https://contabilitools.com.br/" class="link_footer">Contabilitools</a>
</footer>
</body>
</html>
