<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Sign Up</h2>
    <form method="POST" action="/signup">
        <div>
            <label for="username">Nome de usuário:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
    <p class="criar-conta">Já tem uma conta? <a href="/login">Login</a></p>
    <footer class="footer_home">
        Contabilitools 2023 - Todos direitos reservados. <a href="https://contabilitools.com.br/" class="link_footer">Contabilitools</a>
    </footer>
</body>
</html>
